---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import ContactUs from '../components/ContactUs';
import FloatingButtons from '../components/FloatingButtons';
---

<Layout title="Contacto | AEM Autos">
  <Header />
  
  <main class="py-5">
    <div class="container mt-5">
      <ContactUs />
    </div>
  </main>

  <Footer />
  <FloatingButtons client:idle />
</Layout>
 />
  <FloatingButtons client:idle />
</Layout>
